html {
    font-size: 10px;
    color: #4e4d4d;
}

main {
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(30deg, #3dc0c0, #5bceae);
    padding: 3rem 1.6rem 6rem 1.6rem;
}